

*{
    font-family: 'Nunito', sans-serif;
    
  }
  body {
    font-size: 18px;
    background: linear-gradient(rgba(0,0,0,0.5),#009688), url(../Images/pexels-photo-1631677.webp);
    margin: 30px 50px;
    line-height: 1.4;
    
}
html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color:bisque;
} 
.wrapper { 
    background:#333;
    display: grid;
    grid-gap: 20px;
}
.logo {
    color:azure;
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    text-decoration-line: none;
    
}
#navbar ul{
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
#navbar a {
    display:block;
    text-decoration: none;
    padding:0.8rem;
    text-align: center;
    color:azure;
    text-transform: uppercase;
    font-size: 1.1rem;
    
}
  


  